## 4) Ensemble
생성한 LGBM submission과 Tabnet submission을 Ensemble해 최종 submission을 구한다.

### Import

In [1]:
import pandas as pd
from sklearn.metrics import mean_absolute_error

### Read Data

In [ ]:
mae = []

In [2]:
# ensemble 데이터
lgbm1 = pd.read_csv('../data/submission/20221113_2151.csv')
lgbm2 = pd.read_csv('../data/submission/20221113_2204.csv')
tabnet = pd.read_csv('../data/submission/tabnet_best_sub.csv')

In [2]:
# ensemble 데이터
# lgbm1 = pd.read_csv('../data/submission/20221110_0916.csv')
# lgbm2 = pd.read_csv('../data/submission/20221112_0008.csv')
# lgbm3 = pd.read_csv('../data/submission/20221112_1313.csv')
esm = pd.read_csv('../data/submission/20221113_0944.csv')
tabnet = pd.read_csv('../data/submission/tabnet_best_sub.csv')

In [ ]:
sample = pd.read_csv('../data/raw/sample_submission.csv')

In [ ]:
# 삭제해야 한다.
oof = pd.read_csv('../data/submission/221108_oof.csv')

### Visualize Ensemble Tables

In [3]:
table = pd.merge(lgbm1, lgbm2, on='id').merge(lgbm3, on='id').merge(esm, on='id').merge(tab, on='id')

C:\Users\ha\AppData\Local\Temp\ipykernel_11212\1306528205.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'target_x'} in the result is deprecated and will raise a MergeError in a future version.
  table = pd.merge(lgbm1, lgbm2, on='id').merge(lgbm3, on='id').merge(esm, on='id').merge(tab, on='id')

In [4]:
table.corr()

          target_x  target_y  target_x  target_y    target
target_x  1.000000  0.999933  0.999934  0.999898  0.987077
target_y  0.999933  1.000000  0.999986  0.999956  0.986995
target_x  0.999934  0.999986  1.000000  0.999974  0.987218
target_y  0.999898  0.999956  0.999974  1.000000  0.987476
target    0.987077  0.986995  0.987218  0.987476  1.000000

In [5]:
table

                 id   target_x   target_y   target_x   target_y     target
0       TEST_000000  26.120744  25.931200  25.924797  25.797834  26.647532
1       TEST_000001  42.914997  42.935594  42.971584  42.945606  42.933700
2       TEST_000002  67.641643  67.641884  67.623117  67.729393  63.709880
3       TEST_000003  37.939307  38.075883  38.083455  38.160481  36.908190
4       TEST_000004  43.060783  43.069399  43.124464  43.141122  44.189583
...             ...        ...        ...        ...        ...        ...
291236  TEST_291236  47.204647  47.164883  47.198434  47.159902  46.769745
291237  TEST_291237  51.361109  51.157897  51.279216  51.405868  48.743446
291238  TEST_291238  22.307791  22.366253  22.406386  22.466314  21.148718
291239  TEST_291239  21.565059  21.888188  21.913790  22.032424  24.254658
291240  TEST_291240  48.146202  48.215550  48.056494  48.031656  47.465904

[291241 rows x 6 columns]

#### $\bullet$ Ensemble LGBMS

In [ ]:
# file_name: 20221113_0944.csv, component: LGBM1-trial4 * 0.5 & LGBM2-trial4 * 0.5
# public score:, 3.1082829466, oof_score: 0.47128541210279684

In [ ]:
# file_name: 20221113_.csv, component: LGBM1-trial5 * 0.5 & LGBM2-trial4 * 0.5
# public score: - , oof_score:

In [ ]:
sample['target'] = lgbm['target']*0.5 + lgbm['target']*0.5

In [7]:
# 결과확인하기
mean_absolute_error(sample['target'],oof['target'])

1.4963237412053594

#### $\bullet$ Ensemble LGBM & Tabnet

In [ ]:
# file_name: 20221113_1613.csv, component: LGBM1-trial4 * 0.45 & LGBM2-trial4 * 0.45 & tabnet-trial1 * 0.1
# public score: 3.1050840042, oof_score:

In [ ]:
sample['target'] = lgbm4['target']*0.9 + tabnet['target']*0.1

In [13]:
# 결과 확인하기
mean_absolute_error(sample['target'],oof['target'])

0.4653913068926007

### Save Data

In [26]:
date = str(pd.Timestamp.now())[:16].replace('-','').replace(' ','_').replace(':','')
filename = f'./data/submission/{date}'
sample.to_csv(f'{filename}.csv', index=False)
print(f'{filename} is saved.')